@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
	background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(76,45,253,1) 100%);
}

h5{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:400;
}

h1{
	font-family: 'Oswald', sans-serif;
	font-weight:400;
}

#menu{
	position: fixed;
	bottom:2rem;
	right:2.5rem;
}

.bg-verde{
	background: rgba(205, 220, 57, 1.00);
}